.navbar{
	width: 100px;
	height: 40px;
	background-color: plum;

	float: left;
	border:  2px solid navy;
	padding: 5px 5px;
}
.navbar-text {
	text-align: center;
	font-size: 20px;
}
.navbar-text a{
	color: black;
}